/* 
BRON CSS RESET - zodat alle waardes op 0 zijn; hierdoor heb je meer mogelijkheden voor opmaak
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------*/

/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;

  }

:root {
    --text-color:white;
    --bg-color:black; 
    --button-color: #d55140;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-color: #40474f;
}

section{
    position: relative;
    
}

/*--------burger menu BRON: https://www.google.com/url?sa=i&url=https%3A%2F%2Ficon-library.com%2Ficon%2Fwhite-hamburger-menu-icon-24.html&psig=AOvVaw0seRu6IPdSyna4K_NWCEKo&ust=1632580091840000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJDH0vbol_MCFQAAAAAdAAAAABAD---------*/
button img {
    width: 4em;
    height: 4em;

}

button:first-of-type{
    position: absolute;
    z-index: 1;
    margin-left: .5em;
    margin-top: .4em;
    background: none;
    border: none;
    padding: .3em;
   
}

button:first-of-type:hover {
    background: var(--bg-color);
}
/*----- vergrootglas zoek icon BRON: https://commons.wikimedia.org/wiki/File:VisualEditor_-_Icon_-_Search-big_-_white.svg----*/ 


button:nth-of-type(2){
    position: absolute;
    z-index: 1;
    margin-left: 3.5em;
    margin-top: .7em;
    background: none;
    border: none;
}

button:nth-of-type(2):hover {
    background: var(--bg-color);
}
/*----- afbeeldingen achtergrond ------*/
.nachtwacht {
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

.meisjehoed {
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

.vrouwkijkt {
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

.stoel {
    height: 50vh;
    max-width: 100%;
    background-position: top center;
    background-size: cover;
}

.bekijkennachtwacht {
    height: 50vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

.manblauwgeel {
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

.manblauwgeel > p:first-of-type{
    bottom: 6em;
    font-size: .3em;
    padding: .4em;
    background-color: var(--text-color);
    color: var(--bg-color);
    margin-left: 2em;
    border-radius: 3%;
    font-weight: bold;

}

.bos {
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
}
/*---------nachtwacht 1 --------*/
.voorpagina section:first-of-type {
    background-image: url(../images/nachtwacht1.webp);    
}

/*-------meisje met hoed 2 ---------*/
.voorpagina section:nth-of-type(2){
    background-image: url(../images/meisje2.webp);
}

.voorpagina section:nth-of-type(2):hover {
    background-size: 110% ;
    transition: 1s;
}

/*---- vrouw wijst schilderij aan----*/
.voorpagina section:nth-of-type(3){
    background-image: url(../images/schilderij3.webp);
}

/*--------- stoel kunstwerk ---------*/
.voorpagina section:nth-of-type(4){
    background-image: url(../images/schilderijstoel.webp);
}

/*------ meisje kijkt naar schilderij -------*/
section:nth-of-type(5){
    background-image: url(../images/meisje.webp);
}

/*----- man kunstwerk blauw geel -------*/
.voorpagina section:nth-of-type(6){
    background-image: url(../images/man.webp);
}

/*----------- bos kunstwerk -----------*/
.voorpagina section:nth-of-type(7){
    background-image: url(../images/natuur.webp);
}

/*------- Rijksmuseum logo-------*/
.voorpagina main img:first-of-type{
    position: absolute;
    z-index: 1;
    margin-top: 2.8em;
    margin-left: .6em;
    height: 1.4em;
}
img {
    height: 100%;
    object-fit: cover;
    max-width: 100vh;
}

/*------ Tickets button -------*/
form button:first-of-type {
    position: absolute;
    z-index: 1;
    right: 1.3em;
    top: 1em;
    background: var(--button-color);
    padding: 1em;
    font-size: .5em;
    color: var(--text-color);
    border: none;
}

form button:first-of-type:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    transform: var(--text-color);
}

/*--------------- tekstblokjes en kleur-----------------*/
p {
    color: var(--text-color);
    margin-bottom: 4.3em;
    position: absolute;
    margin-left: 1.3em;
    font-size: .45em;
}

/*------ Dikgedrukte  regels per afb ------*/
h2{
    position: absolute;
    bottom: 4em;
    color: var(--text-color);
    font-size: .5em;
    margin-left: 1.3em;
    font-weight: bold;
}

/*------ tweede regels p tekstjes  per afb ------*/
p:last-of-type{
    bottom: -2em;
}

.voorpagina footer{
    background-color: black;
    position: relative;

}

.voorpagina footer h2:first-of-type{
    top: 2em;
    font-size: .55em;
}

.voorpagina footer p{
    top: 4em;
    font-size: .555em;
    color: #c2ccce;
    line-height: 1.3em;
}

.voorpagina ul {
    color: #c2ccce;
    font-size: .5em;
    margin-top: 10em;
    position: absolute;
    margin-bottom: 3em;
}

.voorpaginafooter ul li{
    margin: 2em;
}

a {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);

}
/*--------- tickets pagina --------*/

.tickets main img {
   width: 100%;
   height: 50vh;
   object-fit: cover;
   background-position: top center;
}

.tickets section:first-of-type ul {
    display: flex;
    overflow: auto;
    font-size: .6em;
    color: var(--text-color);
    background-image: none;
}

.tickets li {
    flex-shrink: 0;
    margin-left: 1em;
    padding: 1em;
    overflow-x: hidden;

}


.tickets section:nth-of-type(2) ul{
    color: var(--text-color);
    font-size: .5em;
    position: absolute;
    margin-top: 5em;
    margin-left: 1em;
}

.tickets section:nth-of-type(2) li{
    padding: .5em;
    list-style-image: url("/images/vink.png");
    margin-left: 3em;
    z-index: 1;
}

.tickets section:nth-of-type(2) h2 {
    position: absolute;
    top: 2em;
    left: 1em;
}

.tickets section:nth-of-type(3){
    background-color: rgb(71, 69, 69);
}
/*--??? grid fixen---*/
.tickets section:nth-of-type(3) ul{
    display: grid;
    font-size: .5em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:var(--text-color);
    margin-top: 30em;


}

.tickets section:nth-of-type(3) h2:first-of-type {
    position: absolute;
    left: 1em;
}