/*
BRON CSS RESET - zodat alle waardes op 0 zijn; hierdoor heb je meer mogelijkheden voor opmaak
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------*/

/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;

  }

:root {
    --text-color:white;
    --bg-color:black; 
    --button-color: #d55140;
    --tabel-text-color: #a2abad;
    --menu-bg-color: #40474f;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    background-color: #40474f; 
    transition: all 1s;
}
.light-mode{
    background: white;
    color:black;
}


section{
    position: relative;
    
}


/*--------burger menu BRON: https://www.google.com/url?sa=i&url=https%3A%2F%2Ficon-library.com%2Ficon%2Fwhite-hamburger-menu-icon-24.html&psig=AOvVaw0seRu6IPdSyna4K_NWCEKo&ust=1632580091840000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJDH0vbol_MCFQAAAAAdAAAAABAD---------*/

/*
nav ul li:first-of-type{
    position: absolute;
    z-index: 1;
    margin-left: .8em;
    margin-top: 1em;
}

nav ul li a img{
    width: 1em;
    height: 1em;
}


nav ul li:first-of-type:hover {
    background: var(--bg-color);
    transition-delay: 1s;
}
*/
/*------------hamburger menu BRON: https://codepen.io/AlexandreCMD/pen/bGRxNMd-------------*/
.menu {
    padding-top: 1em;
    opacity: 0;
    transform: translateX(-100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: var(--menu-bg-color);
    
  }
 
  /*-------- Kruisje menu -------- */ 
  .menu li:first-of-type button{
      width: 3.2em;
      height: 3.2em;
      position: fixed;
      top: 0;
      background: none;
      border: none;
      margin-top: 1em;
  }

  .menu li:first-of-type button img{
      width: 6em;
      height: 6em;
      justify-content: center;
      margin-top: -.5em;
      margin-left: -2.5em;
  }

  /*------------- -------------*/ 
  
/*------- tekst dat in het hamburgermenu zit opmaak ------*/
.menu li {
    font-size: .5em;
    color: var(--text-color);
    margin-left: 2em;
}

  .visible {
    opacity: 1;
    transform: translateX(0%);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }

  .icon {
      z-index: 3;
      position: absolute;
      background: none;
      border: none;
  }

  /*---------------------afmetingen hamburgermenu afbeelding -----------------*/
.icon img{
    width: 4em;
    height: 4em;
    margin-top: 1em ;
}

/*------ menu eerste regel eisen --------*/
.menu li a h4 {
    font-size: 1em;
}

/*----------  Go to ... (in menu)----------*/ 
.menu li a strong {
    font-weight: bold;
    
}

.menu li:nth-of-type(2){
    margin-top: 3em;
    margin-left: 2.5em;
}
/*------------- visit tot research -------------*/
.menu li:nth-of-type(3){
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;
    row-gap: 2em;
    margin-top: 3em;
    opacity: 60%;
}
/*---------------- Go to tot accessibility ------------------*/
.menu li:nth-of-type(4){
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;
    row-gap: 2em;
    margin-top: 3em;
}

/*--------------------Logo rijksmuseum in hamburgermenu---------------*/
.menu li:nth-of-type(5){
    width: 6em;
    height: 3.5em;
    margin-top: 2em;
}

.menu li:nth-of-type(6){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin-top: 2em;
}

.menu li:nth-of-type(6) img{
    width: 5em;
    height: 2em;
    padding: .5em;
}

 /*-------- zoekpagina menu-----------*/
.search {
    padding-top: 1em;
    opacity: 0;
    transform: translateX(-100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: var(--menu-bg-color);
}

.search button {
    background: none;
    border: none;
    position: absolute;
}
.search .kruisje img {
    width: 3em;
    height: 3em;
    top: 1;
}
/*--------------- button voor het zoekicoontje-------------------*/
 .zoekicon {
    z-index: 3;
    position: absolute;
    background: none;
    border: none;
}   


.kruisje{
    width: 3.2em;
    height: 3.2em;
    position: fixed;
    top: 0;
    background: none;
    border: none;
    margin-top: 1em;
} 

.zoekicon img{
    width: 3em;
    height: 3em;
    z-index: 5;
    margin-left: 5em;
    margin-top: 1.5em;

}

.aanwezig {
    opacity: 1;
    transform: translateX(0%);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  } 

/*----- vergrootglas zoek icon BRON: https://commons.wikimedia.org/wiki/File:VisualEditor_-_Icon_-_Search-big_-_white.svg----*/ 

/* nav ul:nth-of-type(2) li:first-of-type{
    position: absolute;
    z-index: 1;
    margin-left: 2.5em;
    margin-top: .9em;
    background: none;
    border: none;
}

nav ul:nth-of-type(2) li:first-of-type:hover {
    background: var(--bg-color);
}

nav ul:nth-of-type(2) img{
    width: 1em;
    height: 1em;
} */

/*------ Tickets button -------*/
nav>a{
    position: absolute;
    z-index: 1;
    right: 1.3em;
    top: 1em;
    background: var(--button-color);
    padding: 1em;
    font-size: .5em;
    color: var(--text-color);
    border: none;

}

nav>a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    transform: var(--text-color);
}

/*------------- afbeeldingen achtergrond ------------*/
/*---------nachtwacht 1 --------*/
.voorpagina section:first-of-type {
    background-image: url("../images/nachtwacht1.webp"); 
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-size: cover; 
}

/*-------meisje met hoed 2 ---------*/
.voorpagina section:nth-of-type(2){
    background-image: url("../images/meisje2.webp");
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

.voorpagina section:nth-of-type(2):hover {
    background-size: 110% ;
    transition: 1s;
}

/*---- vrouw wijst schilderij aan----*/
.voorpagina section:nth-of-type(3){
    background-image: url("../images/schilderij3.webp");
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

/*--------- stoel kunstwerk ---------*/
.voorpagina section:nth-of-type(4){
    background-image: url("../images/schilderijstoel.webp");
    height: 50vh;
    max-width: 100%;
    background-position: top center;
    background-size: cover;
}

/*------ meisje kijkt naar schilderij -------*/
section:nth-of-type(5){
    background-image: url("../images/meisje.webp");
    height: 50vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

/*----- man kunstwerk blauw geel -------*/
.voorpagina section:nth-of-type(6){
    background-image: url("../images/man.webp");
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

section:nth-of-type(6) strong{
    font-size: .3em;
    padding: .4em;
    background-color: var(--text-color);
    color: var(--bg-color);
    margin-left: 2em;
    bottom: 10em;
    border-radius: 3%;
    font-weight: bold;

    position: absolute;
}
/*----------- bos kunstwerk -----------*/
.voorpagina section:nth-of-type(7){
    background-image: url("../images/natuur.webp");
    height: 100vh;
    width: 100%;
    background-position: top center;
    background-size: cover;
    
}

/*------- Rijksmuseum logo-------*/
.voorpagina img:first-of-type{
    position: absolute;
    z-index: 1;
    margin-top: 2.8em;
    margin-left: .6em;
    height: 1.4em;
}
img {
    height: 100%;
    object-fit: cover;
    max-width: 100vh;
}

/*--------------- tekstblokjes en kleur-----------------*/
.voorpagina p {
    color: var(--text-color);
    margin-bottom: 4.3em;
    position: absolute;
    margin-left: 1.3em;
    font-size: .45em;
}

/*------ Dikgedrukte  regels per afb ------*/
h2{
    position: absolute;
    bottom: 4em;
    color: var(--text-color);
    font-size: .5em;
    margin-left: 1.3em;
    font-weight: bold;
}

/*------ Dikgedrukte  regels per afb ------*/
h3{
    position: absolute;
    bottom: 4em;
    color: var(--text-color);
    font-size: .4em;
    font-weight: bold;
}

/*------ tweede regels p tekstjes  per afb ------*/
p:last-of-type{
    bottom: -2em;
}

footer{
    background-color: black;
    position: relative;
    padding: .5em;

}

footer h2:first-of-type{
    top: 2em;
    font-size: .55em;
}

footer>p{
    margin-top: 3em;
    margin-left: 1.5em;
    font-size: .555em;
    color: #c2ccce;
    line-height: 1.3em;

}
footer ul:first-of-type {
    margin-top: 3em;
}
footer ul:first-of-type li{
    margin: 1.5em;
    font-size: .5em;
}

a {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);

}

/*---------------  doneer knop en nieuwsbrief knop in footer  --------------*/

footer ul:nth-of-type(2){
    display: grid;
    width: 6em;
    text-align: center;
    margin-left: .5em;
}

footer ul:nth-of-type(2) button{
    font-size: .5em;
    background: rgb(54, 53, 53);
    padding: 1em;
    border-radius: 3%;
    color: var(--text-color);
    width: 11em;
    border: none;

}
footer ul:nth-of-type(2) li{
    margin-top: .5em;
}
footer ul:nth-of-type(2) li:nth-of-type(3) img{
    position: absolute;
    width: 2em;
    height: 2em;
    opacity: 30%;
    top: 11.7em;
    left: 7.5em;
}
/*------------------ social media icons in footer ---------------------*/
footer ul:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
    margin: .7em;
}


footer ul:nth-of-type(3) img {
    width: 0.7em;
    height: 0.7em;
}


  
/*-------------- sponsoren logos in footers ---------------*/
footer ul:nth-of-type(4) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: .7em;
    margin-top: 1.5em;
}

footer ul:nth-of-type(4) img {
    width: 3em;
    height: 1em;
    opacity: 60%;
}

/*----------- linkjes naar eisen en voorwaarden ---------*/
footer ul:nth-of-type(5) {
    margin-top: 3em;
    display: flex;
    opacity: 60%;
}


footer ul:nth-of-type(5) li{
    font-size: .5em;
    margin: .5em;
}

/*----------------------------- tickets pagina ----------------------------*/


.tickets section:first-of-type img {
    max-width: 100%;
    background-image: url("../images/moederdochter.jpeg");
}

/*-------- scroll bar naar de zijkant BRON:DLO ---------*/

.tickets section:first-of-type ul {
    display: flex;
    overflow: auto;
    font-size: .6em;
    color: var(--text-color);

}

.tickets section:first-of-type li {
    flex-shrink: 0;
    margin-left: 1em;
    padding: 1em;
    overflow-x: hidden;

}

/*---------Kopje met vinkjes ----------*/
.tickets section:nth-of-type(2) ul{
    color: var(--text-color);
    font-size: .5em;
    position: absolute;
    margin-top: 5em;
}

.tickets section:nth-of-type(2) li{
    padding: .75em;
    margin-left: 3em;
    list-style: url("../images/check-solid.svg");
    background-repeat: no-repeat;
}

/*----------------Kopje bij lijstje met vinkjes-----------------*/
.tickets section:nth-of-type(2) h3 {
    position: absolute;
    top: 4em;
    margin-left: 1em;
}

/*---??? grid fixen---*/
.tickets section:nth-of-type(3) ul{
    display: grid;
    font-size: .5em;
    grid-template-columns: 0fr 0fr 1fr 1fr;
    grid-gap: 4em;
    color:var(--text-color);
    margin-top: 22em;
    padding: 1em;
    background-color: #343b42;

}

.tickets section:nth-of-type(3) li:first-of-type{
    grid-column:3;

}

/*------ Select your museun tickets here ------*/
.tickets section:nth-of-type(3) h3:last-of-type {
    position: grid;
    padding: 3em;
    margin-bottom: -1em;
    width: 100%;
    background-color: #343b42;
}


/*----- rij 1 van tabel  "Adult entrance" ---*/ 
.tickets section:nth-of-type(4) ul{
    color: var(--tabel-text-color);
    font-size: .6em;
    display: flex;
    flex-wrap: wrap;
    font-size: .5em;
    padding: 1em;
    width: 100%;
    background-color: #343b42;
}

.tickets section:nth-of-type(4) li{
    flex-basis: 20%;
}

/*---- - knopje -----*/
.tickets section:nth-of-type(4) li:nth-of-type(2)>button{
    margin-left: 4em;
    width: 3em;
    height: 3em;
    background-color: #ffffff ;
    opacity: 30%;
    border: none;
}

.tickets section:nth-of-type(4) li:nth-of-type(2)>button:hover{
    background:white;
    opacity: 100%;
    transition: .2s;
}

/*---- number 0 -----*/ 
.tickets section:nth-of-type(4) li:nth-of-type(3){
    color: var(--tabe-text-color);
    padding-left: 1em;
    padding-top: .5em;
    margin-left: -.45em;
    font-size: 1.3em;

}

/*----- + knopje -----*/
.tickets section:nth-of-type(4) li:nth-of-type(4)>button{
    margin-left: -2em;
    width: 3em;
    height: 3em;
    background-color: #ffffff;
    opacity: 30%;
    border: none;
}

.tickets section:nth-of-type(4) li:nth-of-type(4)>button:hover{
    background: white;
    opacity: 100%;
    transition: .2s;
}

/*---- subtotal ------*/
.tickets section:nth-of-type(4) li:nth-of-type(5){
    margin-top: 1em;
    margin-left: -1em;
}


/*-------- totaal en 0.00 --------*/
.tickets section:nth-of-type(4) ul:last-of-type{
    display: flex;
    justify-content: space-between;
}

.tickets section:nth-of-type(4) ul:last-of-type li:last-of-type {
   flex-basis: 100%;
}

.tickets section:nth-of-type(5){
    background: none;
}

.tickets section:nth-of-type(5) h4 {
    top: 0;
    padding: 1.5em;
    font-size: .55em;
    color: var(--text-color)

}
.tickets section:nth-of-type(5) p{
    font-size: .5em;
    color: var(--text-color);
    padding: 1.5em;
    line-height: 1.5em;
}

iframe {
    max-width: 100%;
}


